body
{
    background-color: #E5FFDE;
    color: #1B1B1E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type=text]{
    border: 2px solid
}
input[type=number]{
    border: 2px solid
}
input[type=select]{
    border: 2px solid
}
input[type=submit] {
    background-color: #4C956C;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
}
input[type=reset] {
    background-color: #654C4F;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
}
nav{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #2c6e49;
    text-align: center;
}
.holder{
    height: 200px;
    width: 200px;
    cursor: none;
}
a:link{
    color: #C19875;
}
a:visited{
    color: #C19875;
}
a:hover{
    color: #FB6107;
}
a:active{
    color: #FB6107;
}

/*Calculator CSS*/
.calc-container {
    max-width: 20em;
}
  
.calc-container > p {
    text-align: center;
}
.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px #C19875;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}
  
.calculator__display {
    background-color: #C19875;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}
  
.calculator__keys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
  
.calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}
  
.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
    background-color: #C19875;
    bottom: 0;
    box-shadow: 0 0 6px 0 #C19875 inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
  
.key--operator {
    background-color: #eee;
}
  
.key--equal {
    background-image: linear-gradient(to bottom, #2c6e49, #2c6e49);
    grid-column: -2;
    grid-row: 2 / span 4;
}

.centered {
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}